<h1>Candidates</h1>
  <%= link_to 'New Candidate', new_candidate_path %>
  <ul>
    <% @candidates.each do |candidate| %>
      <li>
        <%= link_to candidate.name, candidate %>
        <%= link_to 'Edit', edit_candidate_path(candidate) %>
        <%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
